[submodule "start/vim-asciidoctor"]
	path = start/vim-asciidoctor
	url = https://github.com/habamax/vim-asciidoctor.git
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "start/rust.vim"]
	path = start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "start/vim-javascript"]
	path = start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "start/vim-jsx-pretty"]
	path = start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "start/vim-jsx-typescript"]
	path = start/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
